<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<!--<body>-->
<!--<h1>Login</h1>-->
<!--<form action="/login" method="post">-->
<!--    <label for="username-ip">Username:</label>-->
<!--    <input type="text" name="username" id="username-ip" class="field">-->
<!--    <label for="password-ip">Password:</label>-->
<!--    <input type="text" name="password" id="password-ip" class="field">-->
<!--    <button type="submit">Login</button>-->
<!--</form>-->

<!--    <h2>Hello, <span th:text="${username}">user</span>!</h2>-->
<!--    <h2>Your password is: <span th:text="${password}">user</span>!</h2>-->
<!--</body>-->
<h1>Login</h1>
<div th:if="${param.error}">
    Invalid Username and Password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>

<form th:action="@{/login}" method="post">
    <label for="username">Username</label>
    <input id="username" name="username" type="text" />
    <label for="password">Password</label>
    <input id="password" name="password" type="password" />
    <input type="submit" value="Log In" />
</form>
</html>